> # **Introduction of Pandas**

### **Key data structures in pandas**
- Series 
- DataFrame

In [2]:
import pandas as pd

### Series (1D)

In [3]:
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
s = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

### DataFrames (2D)

In [8]:
df = pd.DataFrame({"names":["Shreyas","Panda","Ps","Thor"],"marks":[100,85,59,48]})
df

     names  marks
0  Shreyas    100
1    Panda     85
2       Ps     59
3     Thor     48

### Reading CSV files in Pandas

In [9]:
df = pd.read_csv("test.members.csv")
df

,_id,fullName,email,phoneNumber,division,interest,__v
0,6899367e02265590e03ecd7c,Pragati Pradip Jagadale,jagadalepragati426@gmail.com,9420336179,SY,GD,0
1,689943fdb20f3dc14f46e66b,Shreya Sachin Chougule,chouguleshreya1011@gmail.com,9356603103,TY,GD,0
2,68994599f269743677bc3bf1,Sakshi Dhanaji Nalawade,sakshinalavade542005@gmail.com,8208130736,TY,GD,0
3,6899559a794ad58ce41c2862,Nikita Rajkumar Adsule,nikitaadsule09@gmail.com,8668700311,TY,GD,0
4,689955a3794ad58ce41c2865,Sneha vijaykumar sakri,snehasakri75@gmail.com,9834827013,TY,GD,0
5,68995e20210c932278eb0310,Ankita Ajay Mali,ankitamali955@gmail.com,8624979961,SY,GD,0
6,6899668eaa24512da975bfbd,Kaisahmed Sangatras,kaisfiroj@gmail.com,9372143395,TY,GD,0
7,6899720db71ca8009ae90223,Rohan Pramod Mane,rohanmane9993@gmail.com,7709831071,TY,GD,0
8,6899ac3bee7bd0f5710b4736,Shruti Dipak Khanchanale,shrutikhanchanale77@gmail.com,9421277748,TY,GD,0
9,6899ac76ee7bd0f5710b4739,Prathamesh Sambhaji Sutar,prathameshsutar068@gmail.com,9370657289,TY,GD,0
10,6899ae31a8faeed65396ee7f,Prajwal Ravindra Kole,koleprajwal108@gmail.com,8668408315,TY,GD,0
11,6899ec2e9aa66fdcaa6cd510,Shreyas Vilas Mane,shreyasmane480@gmail.com,8468962843,TY,GD,0
12,689b27a9484826ef1690516b,Sakshi Subhash Mohite,sakshimohite8895@gmail.com,9604507650,TY,GD,0
13,689b2860484826ef1690516e,Shruti prakash sathe,shrutisathe741@gmail.com,8087853394,TY,GD,0
14,689b28f0484826ef16905171,Tanvi Prakash Patil,tanvipatil.sangli@gmail.com,9022573574,TY,GD,0
15,689c046c13c212677e35d9df,Janvhi Jaywant Shinde,janvhishinde4800@gmail.com,8862042988,TY,GD,0

In [ ]:
df.head() # it show the startings 1st 5 data

,_id,fullName,email,phoneNumber,division,interest,__v
0,6899367e02265590e03ecd7c,Pragati Pradip Jagadale,jagadalepragati426@gmail.com,9420336179,SY,GD,0
1,689943fdb20f3dc14f46e66b,Shreya Sachin Chougule,chouguleshreya1011@gmail.com,9356603103,TY,GD,0
2,68994599f269743677bc3bf1,Sakshi Dhanaji Nalawade,sakshinalavade542005@gmail.com,8208130736,TY,GD,0
3,6899559a794ad58ce41c2862,Nikita Rajkumar Adsule,nikitaadsule09@gmail.com,8668700311,TY,GD,0
4,689955a3794ad58ce41c2865,Sneha vijaykumar sakri,snehasakri75@gmail.com,9834827013,TY,GD,0

In [ ]:
df.tail() # same as but last 5 data

,_id,fullName,email,phoneNumber,division,interest,__v
11,6899ec2e9aa66fdcaa6cd510,Shreyas Vilas Mane,shreyasmane480@gmail.com,8468962843,TY,GD,0
12,689b27a9484826ef1690516b,Sakshi Subhash Mohite,sakshimohite8895@gmail.com,9604507650,TY,GD,0
13,689b2860484826ef1690516e,Shruti prakash sathe,shrutisathe741@gmail.com,8087853394,TY,GD,0
14,689b28f0484826ef16905171,Tanvi Prakash Patil,tanvipatil.sangli@gmail.com,9022573574,TY,GD,0
15,689c046c13c212677e35d9df,Janvhi Jaywant Shinde,janvhishinde4800@gmail.com,8862042988,TY,GD,0

In [13]:
df.describe()

        phoneNumber   __v
count  1.600000e+01  16.0
mean   8.918865e+09   0.0
std    6.055157e+08   0.0
min    7.709831e+09   0.0
25%    8.585976e+09   0.0
50%    8.942308e+09   0.0
75%    9.384192e+09   0.0
max    9.834827e+09   0.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          16 non-null     object
 1   fullName     16 non-null     object
 2   email        16 non-null     object
 3   phoneNumber  16 non-null     int64
 4   division     16 non-null     object
 5   interest     16 non-null     object
 6   __v          16 non-null     int64
dtypes: int64(2), object(5)
memory usage: 1.0+ KB

> ## Data selection

In [17]:
df['fullName']
# type(df['fullName'])

0       Pragati Pradip Jagadale
1        Shreya Sachin Chougule
2       Sakshi Dhanaji Nalawade
3        Nikita Rajkumar Adsule
4        Sneha vijaykumar sakri
5              Ankita Ajay Mali
6           Kaisahmed Sangatras
7             Rohan Pramod Mane
8      Shruti Dipak Khanchanale
9     Prathamesh Sambhaji Sutar
10        Prajwal Ravindra Kole
11           Shreyas Vilas Mane
12        Sakshi Subhash Mohite
13         Shruti prakash sathe
14          Tanvi Prakash Patil
15        Janvhi Jaywant Shinde
Name: fullName, dtype: object

In [18]:
df[['fullName','division']]

                     fullName division
0     Pragati Pradip Jagadale       SY
1      Shreya Sachin Chougule       TY
2     Sakshi Dhanaji Nalawade       TY
3      Nikita Rajkumar Adsule       TY
4      Sneha vijaykumar sakri       TY
5            Ankita Ajay Mali       SY
6         Kaisahmed Sangatras       TY
7           Rohan Pramod Mane       TY
8    Shruti Dipak Khanchanale       TY
9   Prathamesh Sambhaji Sutar       TY
10      Prajwal Ravindra Kole       TY
11         Shreyas Vilas Mane       TY
12      Sakshi Subhash Mohite       TY
13       Shruti prakash sathe       TY
14        Tanvi Prakash Patil       TY
15      Janvhi Jaywant Shinde       TY

In [20]:
df.iloc[2] # this iloc function itreate the whole row

_id                  68994599f269743677bc3bf1
fullName              Sakshi Dhanaji Nalawade
email          sakshinalavade542005@gmail.com
phoneNumber                        8208130736
division                                   TY
interest                                   GD
__v                                         0
Name: 2, dtype: object

In [26]:
df2 = pd.read_csv("test.members2.csv")
df2

,_id,fullName,email,phoneNumber,division,interest,__v
0,6899367e02265590e03ecd7c,,jagadalepragati426@gmail.com,9420336179,,GD,0
1,689943fdb20f3dc14f46e66b,Shreya Sachin Chougule,chouguleshreya1011@gmail.com,,TY,GD,0
2,68994599f269743677bc3bf1,Sakshi Dhanaji Nalawade,sakshinalavade542005@gmail.com,8208130736,TY,,0
3,,Nikita Rajkumar Adsule,nikitaadsule09@gmail.com,8668700311,,GD,0
4,689955a3794ad58ce41c2865,Sneha vijaykumar sakri,,9834827013,TY,GD,0
5,68995e20210c932278eb0310,Ankita Ajay Mali,ankitamali955@gmail.com,8624979961,SY,GD,0
6,6899668eaa24512da975bfbd,Kaisahmed Sangatras,kaisfiroj@gmail.com,,TY,GD,0
7,6899720db71ca8009ae90223,Rohan Pramod Mane,rohanmane9993@gmail.com,7709831071,TY,GD,0
8,6899ac3bee7bd0f5710b4736,,shrutikhanchanale77@gmail.com,9421277748,TY,GD,0
9,6899ac76ee7bd0f5710b4739,Prathamesh Sambhaji Sutar,prathameshsutar068@gmail.com,9370657289,TY,GD,0
10,6899ae31a8faeed65396ee7f,Prajwal Ravindra Kole,koleprajwal108@gmail.com,8668408315,TY,GD,0
11,6899ec2e9aa66fdcaa6cd510,Shreyas Vilas Mane,shreyasmane480@gmail.com,8468962843,TY,GD,
12,689b27a9484826ef1690516b,,sakshimohite8895@gmail.com,9604507650,TY,,0
13,,Shruti prakash sathe,shrutisathe741@gmail.com,,TY,GD,0
14,689b28f0484826ef16905171,Tanvi Prakash Patil,tanvipatil.sangli@gmail.com,9022573574,TY,GD,0
15,689c046c13c212677e35d9df,,janvhishinde4800@gmail.com,8862042988,TY,GD,0

In [ ]:
df2.dropna() #remove the NaN or Null values row in the data set

,_id,fullName,email,phoneNumber,division,interest,__v
0,6899367e02265590e03ecd7c,,jagadalepragati426@gmail.com,9420336179,,GD,0
1,689943fdb20f3dc14f46e66b,Shreya Sachin Chougule,chouguleshreya1011@gmail.com,,TY,GD,0
2,68994599f269743677bc3bf1,Sakshi Dhanaji Nalawade,sakshinalavade542005@gmail.com,8208130736,TY,,0
3,,Nikita Rajkumar Adsule,nikitaadsule09@gmail.com,8668700311,,GD,0
4,689955a3794ad58ce41c2865,Sneha vijaykumar sakri,,9834827013,TY,GD,0
5,68995e20210c932278eb0310,Ankita Ajay Mali,ankitamali955@gmail.com,8624979961,SY,GD,0
6,6899668eaa24512da975bfbd,Kaisahmed Sangatras,kaisfiroj@gmail.com,,TY,GD,0
7,6899720db71ca8009ae90223,Rohan Pramod Mane,rohanmane9993@gmail.com,7709831071,TY,GD,0
8,6899ac3bee7bd0f5710b4736,,shrutikhanchanale77@gmail.com,9421277748,TY,GD,0
9,6899ac76ee7bd0f5710b4739,Prathamesh Sambhaji Sutar,prathameshsutar068@gmail.com,9370657289,TY,GD,0
10,6899ae31a8faeed65396ee7f,Prajwal Ravindra Kole,koleprajwal108@gmail.com,8668408315,TY,GD,0
11,6899ec2e9aa66fdcaa6cd510,Shreyas Vilas Mane,shreyasmane480@gmail.com,8468962843,TY,GD,
12,689b27a9484826ef1690516b,,sakshimohite8895@gmail.com,9604507650,TY,,0
13,,Shruti prakash sathe,shrutisathe741@gmail.com,,TY,GD,0
14,689b28f0484826ef16905171,Tanvi Prakash Patil,tanvipatil.sangli@gmail.com,9022573574,TY,GD,0
15,689c046c13c212677e35d9df,,janvhishinde4800@gmail.com,8862042988,TY,GD,0

In [ ]:
df2.fillna(0) # Replace NaN with given string/number

,_id,fullName,email,phoneNumber,division,interest,__v
0,6899367e02265590e03ecd7c,,jagadalepragati426@gmail.com,9420336179,,GD,0
1,689943fdb20f3dc14f46e66b,Shreya Sachin Chougule,chouguleshreya1011@gmail.com,,TY,GD,0
2,68994599f269743677bc3bf1,Sakshi Dhanaji Nalawade,sakshinalavade542005@gmail.com,8208130736,TY,,0
3,,Nikita Rajkumar Adsule,nikitaadsule09@gmail.com,8668700311,,GD,0
4,689955a3794ad58ce41c2865,Sneha vijaykumar sakri,,9834827013,TY,GD,0
5,68995e20210c932278eb0310,Ankita Ajay Mali,ankitamali955@gmail.com,8624979961,SY,GD,0
6,6899668eaa24512da975bfbd,Kaisahmed Sangatras,kaisfiroj@gmail.com,,TY,GD,0
7,6899720db71ca8009ae90223,Rohan Pramod Mane,rohanmane9993@gmail.com,7709831071,TY,GD,0
8,6899ac3bee7bd0f5710b4736,,shrutikhanchanale77@gmail.com,9421277748,TY,GD,0
9,6899ac76ee7bd0f5710b4739,Prathamesh Sambhaji Sutar,prathameshsutar068@gmail.com,9370657289,TY,GD,0
10,6899ae31a8faeed65396ee7f,Prajwal Ravindra Kole,koleprajwal108@gmail.com,8668408315,TY,GD,0
11,6899ec2e9aa66fdcaa6cd510,Shreyas Vilas Mane,shreyasmane480@gmail.com,8468962843,TY,GD,
12,689b27a9484826ef1690516b,,sakshimohite8895@gmail.com,9604507650,TY,,0
13,,Shruti prakash sathe,shrutisathe741@gmail.com,,TY,GD,0
14,689b28f0484826ef16905171,Tanvi Prakash Patil,tanvipatil.sangli@gmail.com,9022573574,TY,GD,0
15,689c046c13c212677e35d9df,,janvhishinde4800@gmail.com,8862042988,TY,GD,0

In [ ]:
df.rename(columns={'fullName': 'Name'}) # remane method create a new DataFrame not change in original dataset

,_id,Name,email,phoneNumber,division,interest,__v
0,6899367e02265590e03ecd7c,Pragati Pradip Jagadale,jagadalepragati426@gmail.com,9420336179,SY,GD,0
1,689943fdb20f3dc14f46e66b,Shreya Sachin Chougule,chouguleshreya1011@gmail.com,9356603103,TY,GD,0
2,68994599f269743677bc3bf1,Sakshi Dhanaji Nalawade,sakshinalavade542005@gmail.com,8208130736,TY,GD,0
3,6899559a794ad58ce41c2862,Nikita Rajkumar Adsule,nikitaadsule09@gmail.com,8668700311,TY,GD,0
4,689955a3794ad58ce41c2865,Sneha vijaykumar sakri,snehasakri75@gmail.com,9834827013,TY,GD,0
5,68995e20210c932278eb0310,Ankita Ajay Mali,ankitamali955@gmail.com,8624979961,SY,GD,0
6,6899668eaa24512da975bfbd,Kaisahmed Sangatras,kaisfiroj@gmail.com,9372143395,TY,GD,0
7,6899720db71ca8009ae90223,Rohan Pramod Mane,rohanmane9993@gmail.com,7709831071,TY,GD,0
8,6899ac3bee7bd0f5710b4736,Shruti Dipak Khanchanale,shrutikhanchanale77@gmail.com,9421277748,TY,GD,0
9,6899ac76ee7bd0f5710b4739,Prathamesh Sambhaji Sutar,prathameshsutar068@gmail.com,9370657289,TY,GD,0
10,6899ae31a8faeed65396ee7f,Prajwal Ravindra Kole,koleprajwal108@gmail.com,8668408315,TY,GD,0
11,6899ec2e9aa66fdcaa6cd510,Shreyas Vilas Mane,shreyasmane480@gmail.com,8468962843,TY,GD,0
12,689b27a9484826ef1690516b,Sakshi Subhash Mohite,sakshimohite8895@gmail.com,9604507650,TY,GD,0
13,689b2860484826ef1690516e,Shruti prakash sathe,shrutisathe741@gmail.com,8087853394,TY,GD,0
14,689b28f0484826ef16905171,Tanvi Prakash Patil,tanvipatil.sangli@gmail.com,9022573574,TY,GD,0
15,689c046c13c212677e35d9df,Janvhi Jaywant Shinde,janvhishinde4800@gmail.com,8862042988,TY,GD,0

In [ ]:
# inplace=True means it saves the changes into the original dataset
# df['Name'] = df['Name'].atype(inti)